@import url('https://fonts.googleapis.com/css2?family=Andika&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.infoContainer {
    background-color: rgb(202, 9, 128);
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 85px;
}

.name{
    font-size: 70px;
    font-family: 'Andika', sans-serif;
    font-family: 'Pacifico', cursive;
}

.about{
    font-size: 50px;
}

.buttons button{

}

.devPic img {
    height: 78vh;
}

.sidebar {
    background-color: red;
    width: 10vw;
    height: 100vh;
    font-weight: bold;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.main {
    background-color: yellow;
    width: 90vw;
}