@import url('https://fonts.googleapis.com/css2?family=Andika&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.infoContainer {
    background-color: rgb(202, 9, 128);
    height: 350px;
    width: 1000px;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
    margin-top: 100px;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hello{
    font-size: 80px;
    margin-left: 20px;
}

.name{
    font-size: 20px;
    font-family: 'Andika', sans-serif;
    font-family: 'Pacifico', cursive;
    margin-left: 30px;
}

.about{
    font-size: 50px;
    margin-left: 20px;
}

.buttons button{
margin-left: 20px;
}

.devPic img {
    height: 350px;
    width:400px;
    margin-right: 100px;
}

.sidebar {
    background-color:black;
    width: 250px;
    height: 100%;
    color:white;
    font-weight: bold;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.main {
    background-color: bisque;
    width: 1000px;
    height: 593px;
    padding-bottom: 0px;
    margin-bottom: 100px;
}